<html lang="en">
<head>
  <title>TinyApp</title>

  <style>
  	.showURL{
  		float: center;
  		text-align: center;
  		margin-top: 30px;
	}

	h4{
		text-align: center;
	}

	h5{
		text-align: center;
	}
  </style>


</head>

<body>

<header>
	<% include ./partials/_header %>
</header>


	<h2 class="showURL"> ShortURL: <%= shortURL %> </h2>
	<h4>Visits: <%= visit %></h4>
	<h4>Unique Visits: <%= uniqueVisit %></h4>
	<form class="showURL" method="POST" action="/urls/<%= shortURL%>?_method=PUT">
		<input id="currentURL" type="text" name="currentURL" placeholder="<%= fullURL%>" style="width: 300px">
		<button type="submit">Update</button>
	</form>


	<% for(var i = 0; i < timeStamps.length; i++){ 
		var tiempo = timeStamps[i].time %>

		<h5> Viewed at: <%= tiempo %> by: <%= timeStamps[i].viewedBy %> </h5>

	<%}%>





	<form class="showURL" action="/urls">
    <input type="submit" value="Back to Index" />
	</form>



</body>
</html>