<html lang="en">
<head>
  <title>TinyApp</title>
 <style>
form {
    display: inline;
}
</style>
</head>
<body>

<header>
<% include ./partials/_header %>
</header>

<% if(!user){ %> 
<script>
window.alert('Please login or register first!');
</script>

<% } %>

<% for(let key in urls){%>

	<%= urls[key].longURL %>
	<a href="/u/<%= key %>"> <%= key %> </a> 
	<form method="GET" action="/urls/<%= key %>/">
		<button href="/urls/<%= key %>" type="submit"> Update </button>
	</form>
	<form method="POST" action="/urls/<%= key %>?_method=DELETE">
		<button type="submit">Delete</button>
	</form>
	
	</br></br>
<% } %>

<h3><a href="/urls/new"> Make A New Short URL! </a></h3>


</body>
</html>