<html lang="en">
<head>
  <title>TinyApp</title>
 <style>
.urlindex{
	text-align: center;
}

.buttonsURL{
	display:flex;
	align-items: center;
	justify-content: center;
}

</style>
</head>
<body>

<header>
<% include ./partials/_header %>
</header>

<% if(!user){ %> 
<script>
window.alert('Please login or register first!');
</script>

<% } %>

<% for(let key in urls){%>
	
	<h3 class="urlindex"><%= urls[key].longURL %> &nbsp;&nbsp;    
	<a class="urlindex" href="/u/<%= key %>"> <%= key %> </a> </h3>
	<div class="buttonsURL">
	<form method="GET" action="/urls/<%= key %>/">
		<button href="/urls/<%= key %>" type="submit"> Update </button>
	</form>
	<form method="POST" action="/urls/<%= key %>?_method=DELETE">
		<button type="submit">Delete</button>
	</form>
	</div>
	
	
<% } %>

<h3 class="urlindex" ><a href="/urls/new"> Make A New Short URL! </a></h3>


</body>
</html>